<div class="title">
  <h1>Detalles del Ticket</h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <p><strong>CURP:</strong> {{ ticket.curp }}</p>
      <p><strong>Nombre:</strong> {{ ticket.nombre }}</p>
      <p><strong>Apellido Paterno:</strong> {{ ticket.apellidoPaterno }}</p>
      <p><strong>Apellido Materno:</strong> {{ ticket.apellidoMaterno }}</p>
      <p><strong>Nivel Educativo:</strong> {{ ticket.nivelId }}</p>
      <p><strong>Municipio:</strong> {{ ticket.municipioId }}</p>
      <p><strong>Asunto:</strong> {{ getAsuntoLabel(ticket.asunto) }}</p>
      <p><strong>Estado:</strong> {{ ticket.estado }}</p>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
        <button routerLink="/listadotickets" mat-raised-button>Volver</button>
  </mat-card>
</div>
